
<div class="first_header">
  <div class="header">
    <h1>Cyber77Cocktail</h1>
    <!-- add add cocktail to it -->
    <button class="cybr-btn">
      <%= link_to 'Add Cocktail', new_cocktail_path %><span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch"><%= link_to 'Add Cocktail', new_cocktail_path %>_</span>
      <span aria-hidden class="cybr-btn__tag">404</span>
    </button>

        <button class="cybr-btn">
      <%= link_to 'Add Cocktail', new_cocktail_path %><span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">Add Cocktail_</span>
      <span aria-hidden class="cybr-btn__tag">500</span>
    </button>

  </div>
  <h2 class="all_cocktails">Cyber Cocktail List</h2>
  <div class="container">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
      <div class="card-self">
        <h5><%= cocktail.name %></h5>
            <td>
              <%= link_to 'More Info', cocktail_path(cocktail.id) %>
            </td>
      </div>
    </div>
    <% end %>
  </div>

  <div>
    <%= cl_image_tag("wmptw5lhibq3vy4whrob",
          width: 400, height: 300, crop: :fill) %>

    <!-- for face detection -->
    <%= cl_image_tag("efnsnojorpi9dzqgd0lr",
          width: 150, height: 150, crop: :thumb, gravity: :face) %>
  </div>
  <!-- <div>
    <button class="cybr-btn">
      New Cocktail<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">New Cocktail_</span>
      <span aria-hidden class="cybr-btn__tag">404</span>
    </button>
    <button class="cybr-btn">
      DESTROY<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">DESTROY_</span>
      <span aria-hidden class="cybr-btn__tag">500</span>
    </button>
  </div> -->
</div>
