<div class="header">
  <h2>Cyber77Cocktail</h2>
      <button class="cybr-btn" style="float: right;">
      <%= link_to 'Add another Cocktail', new_cocktail_path %><span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch"><%= link_to 'Add another Cocktail', new_cocktail_path %>_</span>
      <span aria-hidden class="cybr-btn__tag">404</span>
      </button>
</div>

<p id="notice"><%= notice %></p>

<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %></li>
    <li class="list-group-item-self"><%= dose.description %> <%= link_to "Remove",
      dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', cocktails_path %>
<%= link_to 'Add Dose', new_cocktail_dose_path(@cocktail) %>
