<h1>Add Dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.association :ingredient, input_html: { class: 'select2' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<a>
<%= link_to 'Cancel', @cocktail %>
</a>
